---
// Layout
import MainLayout from "../layouts/main.astro";

// Component Imports
import Button from "../components/Button.astro";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<MainLayout>
	<div class="grid place-items-center h-screen content-center">
		<Button>Tailwind Button in Astro!</Button>
		<a href="/markdown-page" class="p-4 underline"
			>Markdown is also supported...</a
		>
	</div>
</MainLayout>
