---
import Layout from "../layouts/main.astro";
import Map from "../components/Map.astro";
---

<Layout>
	<div class="container mx-auto w-full">
		<h1>So finden Sie uns...</h1>
		<a
			href="https://www.google.com/maps/dir//Herrenlandstra%C3%9Fe+39,+Radolfzell+am+Bodensee/@47.74296,8.9526913,17z/data=!3m1!4b1!4m9!4m8!1m0!1m5!1m1!1s0x479a61f70155e5cd:0xd257fb4114d3f2b9!2m2!1d8.95488!2d47.74296!3e2"
			>Navigiere mit Google Maps</a
		>
		<Map long="12" lat="15" zoom="8" />
	</div>
</Layout>
