---
import Layout from '../layouts/main.astro';
import Map from '../components/Map.astro';

const location = { latitude: 47.74328116552683, longitude: 8.95500133471874 };
---

<Layout>
	<div class="container h-screen w-screen mx-auto">
		<h1>So finden Sie uns...</h1>
		<Map />
	</div>
</Layout>
