---
import Layout from '../layouts/leaflet.astro';
/* import * as L from 'leaflet';

var map = L.map('map').setView([47.74328116552683, 8.95500133471874], 14);

L.tileLayer('https://{s}.tile.openstreetmap.de/tiles/osmde/{z}/{x}/{y}.png', {
	maxZoom: 18,
	attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
}).addTo(map);

var marker = L.marker([47.74328116552683, 8.95500133471874]).addTo(map);
marker
	.bindPopup(
		"<div><b>Privater Automarkt</b><br>Herrenlandstrasse 39<br>78315 Radolfzell<br><img src='MapPopupSmall.jpg'/></div>"
	)
	.openPopup(); */
---

<Layout>
	<div id="map" class="h-96"></div>
</Layout>
