---
import Layout from "../layouts/main.astro";
import Map from "../components/Map.astro";
---

<Layout>
	<div class="container w-full mx-auto">
		<h1>So finden Sie uns...</h1>
		<Map />
	</div>
</Layout>
