<section>
	<div class="min-h-screen hero" style="background-image: url(/Hero.jpg);">
		<div class="bg-opacity-60 hero-overlay"></div>
		<div class="text-center hero-content text-neutral-content">
			<div class="max-w-full">
				<!-- sample for prettier-plugin-tailwind  -->
				<h1 class="mb-5 text-5xl font-bold break-before-column">
					Privater Automarkt
				</h1>
				<h2 class="text-3xl">Radolfzell</h2>
				<p class="mb-5">
					Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
					excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a
					id nisi.
				</p>
				<a
					href="https://home.mobile.de/PRIVATERAUTOMARKTRADOLFZELL#ses"
					target="_blank"
					class="btn glass">Unsere Fahrzeuge auf mobile.de</a
				>
			</div>
		</div>
	</div>

	<!-- 	<h1>
		<span class="welcome">
			<picture>
				<source srcset={welcome} type="image/webp" />
				<img src={welcome_fallback} alt="Welcome" />
			</picture>
		</span>

		to your new<br />SvelteKit app
	</h1>

	<h2>

		try editing <strong>src/routes/+page.svelte</strong>
	</h2>
 -->
</section>
