<section>
	<div
		class="hero min-h-screen"
		style="background-image: url(https://placeimg.com/1000/400/arch);"
	>
		<div class="hero-overlay bg-opacity-60"></div>
		<div class="hero-content text-center text-neutral-content">
			<div class="max-w-md">
				<h1 class="mb-5 text-5xl font-bold">Privater Automarkt, Radolfzell</h1>
				<p class="mb-5">
					Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda
					excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a
					id nisi.
				</p>
				<button class="btn btn-primary">Unsere Fahrzeuge auf mobile.de</button>
			</div>
		</div>
	</div>

	<!-- 	<h1>
		<span class="welcome">
			<picture>
				<source srcset={welcome} type="image/webp" />
				<img src={welcome_fallback} alt="Welcome" />
			</picture>
		</span>
		to your new<br />SvelteKit app
	</h1>
	<h2>
		try editing <strong>src/routes/+page.svelte</strong>
	</h2>
 -->
</section>
