<section>
	<div class="hero min-h-screen" style="background-image: url(/Hero.jpg);">
		<div class="hero-overlay bg-opacity-60"></div>
		<div class="hero-content text-center text-neutral-content">
			<div class="max-w-full">
				<!-- sample for prettier-plugin-tailwind  -->
				<h1 class="font-bold mb-5 text-5xl break-before-column">Privater Automarkt</h1>
				<h2 class="text-3xl">Radolfzell</h2>
				<p class="mb-5">
					Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti
					eaque aut repudiandae et a id nisi.
				</p>
				<a href="https://home.mobile.de/PRIVATERAUTOMARKTRADOLFZELL#ses" target="_blank" class="btn glass"
					>Unsere Fahrzeuge auf mobile.de</a
				>
			</div>
		</div>
	</div>

	<!-- 	<h1>
		<span class="welcome">
			<picture>
				<source srcset={welcome} type="image/webp" />
				<img src={welcome_fallback} alt="Welcome" />
			</picture>
		</span>

		to your new<br />SvelteKit app
	</h1>

	<h2>

		try editing <strong>src/routes/+page.svelte</strong>
	</h2>
 -->
</section>
