---
import { SEO } from 'astro-seo';
import Navigation from '~/components/Navigation.astro';
import Footer from '~/components/Footer.astro';
---

<html lang="de">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<SEO
			title="Privater Automarkt Radolfzell"
			description="A heavily optimized description full of well-researched keywords."
		/>
	</head>
	<body class="font-sans antialiased h-screen">
		<div class="bg-gray-100 dark:bg-gray-800 transition-colors">
			<Navigation />
			<main>
				<slot />
			</main>
			<Footer />
		</div>
	</body>
</html>
