---
import Navigation from "~/components/Navigation.astro";
const { content } = Astro.props;
---

<html lang="de">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Privater Automarkt Radolfzell</title>
	</head>
	<body
		class="antialiased text-gray-900 dark:text-slate-300 tracking-tight bg-white dark:bg-slate-900"
	>
		<Navigation />
		<main>
			<slot />
			<!-- Dein Inhalt wird hier eingefügt -->
		</main>
		<footer>Footer</footer>
	</body>
</html>
